body{
    font-family: sans-serif;
    color: white;
    display: flex;
    font-size: 3rem;
}



main input[type="radio"] {
    display: none;
}


.Smash{
    color: white;
    background: linear-gradient(#d50505, #ec2ff0);

}
.Maybe{
    color: white;
    background: linear-gradient(#f6c616, #d3d60c);
}
.Pass{
    color: white;
    background: linear-gradient(#ccf20b, #2ff056);
}

.Card{
    position: absolute;
    inset: 0;
    text-align: center;
    background: linear-gradient(#d41ec4, #ef2b5c);
    padding-bottom: 30px;
    margin: auto;
    opacity:0; 
    pointer-events:none;
    
}


.Cards{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: 480px;
    overflow: hidden;
}




section > label {
    border-radius: 15px;
    border-style: none;
    font-size: 2rem;
    padding: 20px 30px;
    
}

.Smash:hover {
    color: rgb(255, 255, 255); 
    background-color:green; 
    border-color: green; 
    cursor: pointer;
    transform: scale(1.2); 
}
.Maybe:hover {
    color: rgb(255, 255, 255); 
    background-color: orange; 
    border-color: orange; 
    cursor: pointer; 
    transform: scale(1.2);
}
.Pass:hover {
    color: rgb(255, 255, 255); 
    background-color: red; 
    border-color: red; 
    cursor: pointer;
    transform: scale(1.2); 
}


#c1:checked ~ .Cards .Card:nth-child(1),
#c2:checked ~ .Cards .Card:nth-child(2),
#c3:checked ~ .Cards .Card:nth-child(3), 
#c4:checked ~ .Cards .Card:nth-child(4){
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
}


@media (max-width: 500px) {
    .Card{
        
    
}
}