body{
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(133, 2, 89),rgb(255, 87, 249));
    font-size: 3rem;
}

main{
    max-width: 700px;
}


.Smash{
    color: white;
    background: linear-gradient(#d50505, #ec2ff0);

}
.Maybe{
    color: white;
    background: linear-gradient(#f6c616, #d3d60c);
}
.Pass{
    color: white;
    background: linear-gradient(#ccf20b, #2ff056);
}

.Card{
    text-align: center;
    background: linear-gradient(#d41ec4, #ef2b5c);
    padding-bottom: 30px;
    margin: auto;
    border-radius: 15px;
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.35);
}

section > button {
    border-radius: 15px;
    border-style: none;
    font-size: 2rem;
    padding: 20px 30px;
    
}

.Smash:hover {
    color: rgb(255, 255, 255); 
    background-color:green; 
    border-color: green; 
    cursor: pointer;
    transform: scale(1.2); 
}
.Maybe:hover {
    color: rgb(255, 255, 255); 
    background-color: orange; 
    border-color: orange; 
    cursor: pointer; 
    transform: scale(1.2);
}
.Pass:hover {
    color: rgb(255, 255, 255); 
    background-color: red; 
    border-color: red; 
    cursor: pointer;
    transform: scale(1.2); 
}
